.modal-header .matchmaking-close-icon[slot="start"] {
    font-size:28px;
    margin-left:10px;
    margin-right: -38px;
}
.select-matchmaking {
    text-align: center;
    margin:50px 15px;
    font-weight: 600;
    font-size: 16px;
}
.matchmaking_radio {

}
.matchmaking_radio > ion-item {
    border: 2px solid #EAE9E9;
    border-radius: 5px;
    height:50px;
    text-align:left;
    font-weight: 600;
    font-size: 14px;
    margin:15px;
}
.matchmaking_radio .item-radio-checked {
    color: #EB0404;
    border-color: #EB0404;
}
.matchmaking_radio_button {
    width: 0;
}
.matchmaking_radio_button::part(container) {
    display:none;
}
.matchmaking-wrapper {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.generate-button {
    --padding-top: 13px;
    --padding-bottom: 13px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: auto;
    margin: 20px 15px;
    text-transform: capitalize;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.matches-generated {
    font-weight: 600;
    font-size: 24px;
    text-align:center;
    padding:0 15px;
}
.matches-generated-text {
    text-align:center;
    padding:0 15px;
}
.matches-livelimit-label {
    font-weight: 600;
    font-size: 16px;
    text-align:center;
    padding:0 15px;
}
.matches-limit-input {
    margin: 0 auto;
    width:185px;
}
.guests-selected-generate {
    margin:10px;
    text-transform: capitalize;
}
.guests-selected-generate>span:first-of-type {
    margin-right: 50%;
}
.special-guest-wrapper {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
