.modal-header .close-participant-icon[slot="start"] {
    font-size:28px;
}
.yesno_radio {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 15px;
}
.yesno_radio > ion-item {
    border: 2px solid #EAE9E9;
    border-radius: 5px;
    width:48%;
    height:50px;
    text-align:center;
    font-weight: 600;
    font-size: 14px;
}
.yesno_radio .item-radio-checked {
    color: #EB0404;
    border-color: #EB0404;
}
.yesno_radio_button {
    width: 0;
}
.yesno_radio_button::part(container) {
    display:none;
}
.participant-complete-buttons {
    margin:15px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:45px;
    width:100%;
}
.participant-approve-button {
    --background: #307A0E;
    width:48%;
    height: 100%;
    --padding:12px;
    margin:0;
}
.participant-reject-button {
    width:48%;
    height: 100%;
    --padding:12px;
    margin:0;
}
.reject-participant-modal {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}
.reject-participant-modal ion-content {
    --padding-top:15px;
    --padding-bottom:15px;
    --padding-start:15px;
    --padding-end:15px;
}
.reject-participant-modal .page-title {
    margin-left:-35px;
}
.reject-participant-modal ion-textarea {
    border: 1px solid #EAE9E9;
    background:white;
}
#event-editor ion-input {
    text-transform:capitalize;
}
.select_team {
    --placeholder-opacity: 1;
}
.progressBar {
    width: calc(100% - 40px);
    margin: 15px auto 0 auto;
}
.add-participant-title {
    margin-left:-38px;
}
.save-button {
    width: 100%;
    --padding-top: 13px;
    --padding-bottom: 13px;
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: auto;
    margin: 20px 0;
}
.add_team_button {
    text-transform:capitalize;
    font-size:16px;
    height: auto;
    --padding-top: 10px;
    --padding-bottom: 10px;
}
#event-editor ion-item.ion-focused {
    --background: #eb04041f;
    margin:0 15px;
    transition:0.2s;
    border-radius:3px;
}
.weightInput {
    display: inline-block;
    position:relative;
    --padding-end: 45px !important;
}
.weightInput:last-of-type.has-focus {
    background-color:#eb04041f !important;
}
.weightInput:last-of-type.has-focus input {
    background-color:transparent !important;
}
.weightInput:first-of-type:before {
    content: 'Lbs';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    color:grey;
}
.weightInput:last-of-type {
    --padding-end:15px !important;
}
.weightInput:last-of-type input {
    width:60px !important;
    text-align: center;
}
.weightInput:last-of-type:before {
    content: 'Oz';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    color:grey;
}
.expressTitle p {
    font-size:25px;
}
.expressTitle ion-icon {
    vertical-align: middle;
}
.expressTitle .page-subtitle {
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.expressTitle .page-subtitle .subtitle-approved {
    font-weight:normal;
    color:#307A0E;
}
.expressTitle .page-subtitle .subtitle-rejected {
    font-weight:normal;
    color:#EB0404;
}
@media (min-width: 900px) {
    .telescope_input {
        width: 25%;
        display: inline-block;
    }
    #root #event-editor .telescope_input ion-input, #root #event-editor .telescope_input ion-select {
        color:#0065ff;
        --color:#0065ff;
        --placeholder-color: black;
    }
}
