#root .add-label-modal {
    --width:345px;
    --max-width:100%;
    --height:266px;
    --max-height:100%;
    --border-radius: 10px;
}
.add-label-modal ion-content {
    --padding-top: 25px;
    --padding-bottom:25px;
    --padding-start:25px;
    --padding-end: 25px;
}
.modal-title {
    text-align:center;
    font-weight: 600;
    font-size: 18px;
    display:block;
}
.add-label-input {
    margin: 20px 0 30px 0;
}
.add-label-modal ion-button {
    text-transform: none;
}
.add-note-input.active {
    border: 1px solid #EB0404;
}
.team-input_wrapper {
    position: relative;
}
.tag_menu {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 2;
}
