.event-view-header {
    position:absolute;
}
.event-view-header ion-back-button {
    --color:white;
}
.event-view-header ion-toolbar {
    --background: transparent;
}
.event-view-info {
    padding:15px;
}
.event-view-info_name {
    font-weight: 600;
    font-size: 18px;
    display:block;
}
.event-view-info_representative_name {
    font-weight: 600;
    font-size: 14px;
    display:block;
    margin-top:5px;
}
.event-view-info_membership {
    font-weight: 600;
    font-size: 14px;
    display:block;
}
.event-view-info_location {
    font-size: 12px;
    display:block;
    margin-top:10px;
}
.event-view-info_location:before {
    content: '';
    width:12px;
    height:16px;
    display:inline-block;
    background: url('../img/location.png') no-repeat;
    vertical-align: middle;
    margin-right:9px;
}
.event-view-info_phone {
    font-size: 12px;
    display:block;
    margin-top:5px;
}
.event-view-info_phone:before {
    content: '';
    width:12px;
    height:12px;
    display:inline-block;
    background: url('../img/phone.png') no-repeat;
    vertical-align: middle;
    margin-right:9px;
}
.event-view-info_bio {
    display:block;
    font-size: 14px;
    line-height: 21px;
    margin-top:20px;
}
.event-big-image {
    position:relative;
}
.fullscreen-icon {
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    bottom:20px;
    right:20px;
}
.event-content-wrapper {
    padding:15px;
}
.event-content-wrapper ion-card-title {
    font-weight: 600;
    font-size: 16px;
}
.event-content-wrapper ion-card-subtitle {
    font-size: 14px;
    margin-top:5px;
}
.event-content-wrapper .event-info {
    margin-bottom:15px;
}
.event-content-wrapper .event-stadium {
    margin-top:15px;
    border: 1px solid #EAE9E9;
    border-radius: 5px;
}
.event-view-header ion-buttons[slot="end"]{
    margin-right:15px;
    color:white;
}
