.event-view-header {
    position:absolute;
}
.event-view-header ion-back-button {
    --color:white;
}
.event-view-header ion-toolbar {
    --background: transparent;
}
.event-view-info {
    padding:15px;
}
.event-view-info_name {
    font-weight: 600;
    font-size: 18px;
    display:block;
}
.event-view-info_representative_name {
    font-weight: 600;
    font-size: 14px;
    display:block;
    margin-top:5px;
}
.event-view-info_membership {
    font-weight: 600;
    font-size: 14px;
    display:block;
}
.event-view-info_location {
    font-size: 12px;
    display:block;
    margin-top:10px;
}
.event-view-info_location:before {
    content: '';
    width:12px;
    height:16px;
    display:inline-block;
    background: url('../img/location.png') no-repeat;
    vertical-align: middle;
    margin-right:9px;
}
.event-view-info_phone {
    font-size: 12px;
    display:block;
    margin-top:5px;
}
.event-view-info_phone:before {
    content: '';
    width:12px;
    height:12px;
    display:inline-block;
    background: url('../img/phone.png') no-repeat;
    vertical-align: middle;
    margin-right:9px;
}
.event-view-info_bio {
    display:block;
    font-size: 14px;
    line-height: 21px;
    margin-top:20px;
}
.event-big-image {
    position:relative;
}
.fullscreen-icon {
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    bottom:20px;
    right:20px;
}
.event-content-wrapper {
    padding:15px;
}
.event-content-wrapper ion-card-title {
    font-weight: 600;
    font-size: 16px;
}
.event-content-wrapper ion-card-subtitle {
    font-size: 14px;
    margin-top:5px;
}
.event-content-wrapper .event-info {
    margin-bottom:15px;
}
.event-content-wrapper .event-stadium {
    margin-top:15px;
    border: 1px solid #EAE9E9;
    border-radius: 5px;
    display: block;
}
.event-view-header ion-buttons[slot="end"]{
    margin-right:15px;
    color:white;
}
.event-phase-baloteo {
    padding: 15px 0;
    background-color: #E5E5E5;
    margin: 0 -15px;
}
.event-phase-header {
    font-weight: 600;
    font-size: 16px;
    padding:15px 15px 10px 15px;
    display:block;
    background-color:white;
}
.event-phase {
    font-weight: 600;
    font-size: 14px;
    text-transform:capitalize;
    display:block;
    background-color:white;
    padding:0 15px 15px 15px;
}
.baloteo-participant-status {
    text-transform:capitalize;
    font-size:12px;
    font-weight:600;
}
.baloteo-participant-status.green {
    color:#307A0E;
}
.baloteo-participant-status.red {
    color:#EB0404;
}
.baloteo-emptylist {
    text-align:center;
    margin:20px;
    font-weight:600;
}
.share-participant-user {
    text-transform: capitalize;
    --padding-top: 10px;
    --padding-bottom: 10px;
    height: auto;
    width: 100%;
    max-width: 235px;
    margin: 10px auto 0 auto;
    display:block;
}
.participant-thumb-user {
    width: 100%;
    max-width:200px;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.participant-thumb-user.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.participant-thumb-user::part(image) {
    object-fit:cover;
}
.red-cage-number {
    background-color:#EB0404;
    color:white;
    font-weight:600;
    padding: 5px 7px;
    border-radius:3px;
    display:inline-block;
    margin-right: 10px;
}
.participant ion-grid {
    padding:0;
}
.participant ion-col {
    padding: 2px;
}
.user-baloteo-participant-creds {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 45px);
}
.user-baloteo-participant-name {
    font-weight: 600;
    font-size: 14px;
    color: #2C2626;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.compare-button {
    margin-top:10px;
}
.compare-button_bottom {
    color:black;
    text-transform:capitalize;
}
.compare-button_bottom img {
    margin-right:10px;
}
.compare-button img{
    width: 24px;
    max-width: 24px;
}
.colorlessName {
    background-color: transparent !important;
    color: black !important;
}
