.events-tabs {
    margin:10px;
    width:auto;
    contain:initial;
}
.events-tabs ion-segment-button {
    --border-color: #EAE9E9;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1px;
    --background-checked: rgba(235, 4, 4, 0.15);
    --color-checked:#EB0404;
    --indicator-height:0;
    --padding-top: 7px;
    --padding-bottom: 7px;
    --padding-start: 20px;
    --padding-end: 20px;
    margin: 0 7px;
    min-height:auto;
    min-width:auto;
    text-transform: none;
}
.events-tabs ion-segment-button ion-label {
    padding:0;
    font-size:14px;
    font-weight:600;
    margin:0;
}
.barely-visible {
    opacity:0.1;
}
#root ion-modal {
    --width: 100%;
    --height: 100%;
}
@media (max-width:400px) {
    .events-tabs ion-segment-button {
        margin: 0 4px;
        --padding-start: 10px;
        --padding-end: 10px;
    }
    .events-tabs ion-segment-button ion-label {
        font-size:10px;
    }
}
