.events-tabs {
    margin:10px;
    width:auto;
    contain:initial;
    padding-bottom:10px;
}
.events-tabs ion-segment-button {
    --border-color: #EAE9E9;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1px;
    --background-checked: rgba(235, 4, 4, 0.15);
    --color-checked:#EB0404;
    --indicator-height:0;
    --padding-top: 7px;
    --padding-bottom: 7px;
    --padding-start: 20px;
    --padding-end: 20px;
    margin: 0 7px;
    min-height:auto;
    min-width:auto;
    text-transform: none;
}
.events-tabs ion-segment-button ion-label {
    padding:0;
    font-size:14px;
    font-weight:600;
    margin:0;
}
.barely-visible {
    opacity:0.1;
}
#root ion-modal {
    --width: 100%;
    --height: 100%;
}
.events-segment ion-icon {
    vertical-align: middle;
    margin-right:7px;
    margin-bottom:3px;
}
.events-segment ion-segment-button {
    text-transform:none;
    font-weight: 600;
    font-size: 14px;
    min-height:initial;
    --padding-top:13px;
    --padding-bottom:13px;
}
.events-segment ion-segment-button ion-label {
    margin-top:0;
    margin-bottom:0;
}
.user-statistics .stadium {
    border: 2px solid #EAE9E9;
    margin:15px 15px 0 15px;
    border-radius: 8px;
}
.user-statistics .stadium-index {
    display:none;
}
.stats-grid {
    border: 1px solid #EAE9E9;
    border-radius: 5px;
    margin:15px;
    padding:0;
}
.stats-grid ion-col {
    text-align:center;
}
.stats-grid ion-row:first-of-type {
    background: #F5F5F5;
}
.stats-grid ion-row {
    border-bottom: 1px solid #EAE9E9;
    padding:10px;
}
.statistics-winner {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    border: 1px solid #EAE9E9;
    border-radius: 8px;
    margin:15px;
}
.statistics-winner p {
    font-weight: bold;
    font-size: 16px;
}
.medal {
    width:39px;
    height:39px;
}
.statistic_datepicker {
    display:flex;
    align-items:center;
}
.statistic_datepicker ion-segment {
    width:75%;
}
.statistic_datepicker ion-select {
    width: 25%;
    border: 1px solid #EAE9E9;
    border-radius: 8px;
    margin: -8px 10px 10px;
    padding: 7px;
}
@media (max-width:400px) {
    .events-tabs ion-segment-button {
        margin: 0 4px;
        --padding-start: 10px;
        --padding-end: 10px;
    }
    .events-tabs ion-segment-button ion-label {
        font-size:10px;
    }
}
