body {
    background: #353131 !important;
    color:white;
    max-width:100% !important;
    min-width:1280px !important;
    min-height:650px !important;
}

ion-content {
    --background: #2C2626;
}
.judge-header {
    height:50px;
    border: 1px solid #565151;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #353131;
}
.judge-profile-button {
    position: absolute;
    right:5px;
    color:#979797;
    top:0;
    bottom:0;
    margin:auto;
    font-size:27px;
}
.judge-header ion-select {
    color:white;
    --placeholder-opacity: 1;
}
.judge-header ion-text {
    color:white;
}
.judge-content {
    height: calc(100% - 50px);
}
.judge-match-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}
.judge-no-matches {
    font-size: 16px;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root .judge-profile-modal {
    --width: 422px;
    --height:210px;
    border: 1px solid #565151;
    --border-radius: 5px;
    --background: #353131;
}
#root .judge-profile-modal .modal-wrapper {
    position: absolute;
    top:50px;right:35px;
}
.judge-close-profile-icon {
    top:14px;
    right:14px;
    font-size:30px;
    color:white;
    position:absolute;
    cursor:pointer;
    z-index:2;
}
.judge-profile-modal .profile-widget {
    --background: transparent;
    z-index:1;
    margin: 15px 0;
}
.judge-profile-modal .profile-widget_info {
    background: transparent;
}
.judge-profile-modal .profile-widget_info ion-item {
    --background: transparent;
    color:white;
}

.judge-logout {
    text-transform: capitalize;
    margin: 0 0 0 100px;
}
.judge-tabs-segment {
    align-self: flex-start;
}
.judge-tabs-segment ion-segment-button {
    text-transform:none;
    font-weight: 600;
    font-size: 16px;
    min-height:initial;
    --padding-top:13px;
    --padding-bottom:13px;
    --color:white;
    color:white;
    --indicator-color:white;
    max-width: initial;
}
.judge-tabs-segment ion-segment-button ion-label {
    margin-top:0;
    margin-bottom:0;
}
.judge-matches {
    background:transparent;
}
.judge-match {
    margin-top:10px;
    border: 1px solid #565151;
    color:white;
    padding:0;
    --background: #2C2626;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --ion-safe-area-right:0;
}
.judge-match ion-grid {
    padding:0;
}
.judge-match ion-row {
    align-items:stretch;
}
.judge-match ion-img {
    margin:0 30px;
}
.judge-match-image {
    width:55px;
    height:55px;
    border-radius: 3px;
    overflow:hidden;
    margin:0 auto;
}
.judge-match-image.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.judge-blue_side {
    background: linear-gradient(0deg, #285CC6, #285CC6);
    padding:10px 10px 10px 50px;
    font-weight: 600;
    font-size: 18px;
    display:flex;
    align-items:center;
    color:white;
}
.judge-white_side {
    background:white;
    color:black;
    padding:10px 50px 10px 10px;
    justify-content:flex-end;
    font-weight: 600;
    font-size: 18px;
    display:flex;
    align-items:center;
}
.judge-white_side .green_chevron {
    right:0;
}
.judge-blue_side .green_chevron {
    left:10px;
}
.judge-versus {
    text-align:center;
    font-weight: 600;
    font-size: 18px;
    color:white;
}
.judge-versus p {
    margin: 10px 0;
}
.judge-back-button {
    color:white;
    position:absolute;
    left:25px;
}
.judge-match-view {
    padding: 20px;
    border: 1px solid #565151;
    color: white;
    --background: #2C2626;
}
.judge-match-view ion-grid {
    padding:0;
}
.judge-match-view ion-row {
    align-items:center;
}
.judge-match-view ion-img {
    margin:0 30px;
}
.judge-match-view-image {
    width:200px;
    height:200px;
    border-radius: 3px;
    overflow:hidden;
    margin:0 auto;
}
.judge-match-view-image.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.judge-match-view-blue_side {
    background: linear-gradient(0deg, #285CC6, #285CC6);
    padding:10px;
    font-weight: 600;
    font-size: 24px;
    display:flex;
    align-items:center;
    color:white;
    border-radius: 8px;
    height:300px;
}
.judge-match-view-white_side {
    background:white;
    color:black;
    padding:10px;
    justify-content:flex-end;
    font-weight: 600;
    font-size: 24px;
    display:flex;
    align-items:center;
    border-radius: 8px;
    height:300px;
}
.judge-match-view-versus {
    text-align:center;
    font-weight: 600;
    font-size: 18px;
    color:white;
    border: 1px solid #565151;
    border-radius: 8px;
    height:300px;
    margin:0 20px;
    padding:40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.judge-match-view-open {
    text-transform:capitalize;
    --padding-top:8px;
    --padding-bottom:8px;
    margin:10px 0;
    font-weight: 600;
    font-size: 14px;
    color:#2C2626;
    --background: #41CF00;
    border-radius: 5px;
}

.judge-match-view-switch_side {
    text-transform:capitalize;
    --padding-top:8px;
    --padding-bottom:8px;
    margin:10px 0;
    font-weight: 600;
    font-size: 12px;
    color:white;
    --background: #2C2626;
    border: 1px solid white;
    border-radius: 5px;
}

.judge-match-view-null {
    text-transform:capitalize;
    --padding-top:8px;
    --padding-bottom:8px;
    margin:10px 0;
    font-weight: 600;
    font-size: 14px;
    color:white;
    --background: #EB0404;
    border-radius: 5px;
}
.judge-match-view-type {
    width:200px;
    text-align:center;
    font-weight: 600;
    font-size: 16px;
    margin:5px;
}
.judge-match-view-type_label {
    width:200px;
    text-align:center;
    font-size: 16px;
    margin:5px;
}
.judge-match-view-info_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.judge-match-view-info {
    margin:20px 0;
    padding:15px;
    border: 1px solid #565151;
    background: #353131;
    border-radius: 8px;
}
#root .prompt-modal {
    --background: #353131;
    --width:605px;
    --height:240px;
}
.modal-title {
    color:white;
}
.prompt-modal ion-button.button-solid {
    --background:#41CF00;
    --color: #2C2626;
    width:40%;
    margin-right: 20px;
    margin-top: 50px;
}
.prompt-modal ion-button.button-outline {
    --background: #2C2626;
    --color: white;
    width: 40%;
    --border-color: white;
    margin-top: 50px;
}
.judge-match-view-swap-button {
    width:88px;
    height:88px;
    --padding-start:13px;
    --padding-end:13px;
    border: 2px solid #565151;
    border-radius: 5px;
}
.judge-match-view-swap-button ion-img {
    margin:0;
}

.judge-match-timer-blue_side {
    background: linear-gradient(0deg, #285CC6, #285CC6);
    padding:10px !important;
    font-weight: 600;
    font-size: 80px;
    display:flex;
    align-items:center;
    color:white;
    height:120px;
    justify-content:space-between;
    margin-top:10px;
    white-space: nowrap;
}
.judge-match-timer-white_side {
    background:white;
    color:black;
    padding:10px !important;
    justify-content:space-between;
    font-weight: 600;
    font-size: 62px;
    display:flex;
    align-items:center;
    height:120px;
    margin-top:10px;
}
.judge-match-timer-versus {
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: white;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D40404;
    flex: initial !important;
}
.judge-match-timer-participant_info {
    font-size:80px;
}
.judge-match-timer {
    padding: 0 20px 20px 20px;
    color: white;
    --background: #2C2626;
    height:365px;
    width:100%;
}
.alarm-overhead {
    height:335px;
    position:fixed;
    top:0;
    left:0;right:0;
    background-color:#2C2626;
    color:white;
    font-weight: bold;
    font-size: 176px;
    letter-spacing: 0.015em;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:10;
}
.judge-match-timer ion-col {
    padding:0;
}
.judge-match-timer ion-grid {
    padding:0;
}
.judge-match-timer ion-row {
    align-items: stretch;
    justify-content: space-between;
}
.judge-match-timer-clock_blue_side {
    font-weight: bold;
    font-size: 176px;
    color: #89FF53;
    letter-spacing: 0.015em;
    text-align:center;
    height:240px;
    line-height: 240px;
    max-width: calc(50% - 150px) !important;
    position: relative;
    white-space:nowrap;
}
.judge-match-timer-clock_white_side {
    font-weight: bold;
    font-size: 176px;
    color: #FEAB24;
    letter-spacing: 0.015em;
    text-align:center;
    height:240px;
    line-height: 240px;
    max-width: calc(50% - 150px) !important;
    position: relative;
    white-space:nowrap;
}
.judge-match-timer-clock_versus {
    font-weight: bold;
    color: #FF0B0B;
    font-size: 220px;
    letter-spacing: 0.015em;
    text-align:center;
    line-height: 240px;
    width: 300px !important;
    max-width: 300px !important;
    flex: initial !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space:nowrap;
    margin-bottom:50px;
}
.judge-match-timer-clock_versus.small {
    font-size:140px;
}
.judge-match-timer-buttons {
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index:1;
}
.judge-match-timer-config {
    position:fixed;
    bottom:0;
    width:100%;
    flex-direction: column;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.judge-time-button {
    border-radius: 8px;
    --border-radius: 8px;
    position: relative;
    margin-bottom: 25px;
    width: 240px;
    height:75px;
    padding: 20px;
}
.judge-time-button ion-img {
    width: 24px;
    height: 24px;
    margin-right:10px;
    filter: invert(100%) sepia(37%) saturate(1398%) hue-rotate(272deg) brightness(114%) contrast(102%);
}
.judge-time-button ion-text {
    color:white;
    font-weight: 600;
    font-size: 20px;
}
.red-time-button {
    background: #EB0404;
}
.white-time-button {
    background: white;
}
.white-time-button ion-text {
    color:black;
}
.green-time-button {
    background: #307A0E;
}
.grey-time-button {
    background: grey;
}
.yellow-time-button {
    background: #F39700;
}
.blue-time-button {
    background: #285CC6;
}
.purple-time-button {
    background: #7200CC;
}
.orange-time-button {
    background: #F76411;
}
.judge-match-timer-select_result {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.judge-match-timer-result_button {
    --background: #2D68DE;
    text-transform:capitalize;
    font-weight: 600;
    font-size: 16px;
    --padding-top:13px;
    --padding-bottom:13px;
    width:194px;
    height:auto;
    margin:0 5px;
}
.judge-match-timer-blue_wins {
    --background: #2D68DE;
    --color:white;
}

.judge-match-timer-white_wins {
    --background: white;
    --color:#2C2626;
}

.judge-match-timer-draw {
    --background: #FEAB24;
    --color:#2C2626;
}

.judge-match-timer-null {
    --background: #EB0404;
    --color:white;
}
.judge-match-timer-announce_button {
    --background: #41CF00;
    --color:#2C2626;
    font-weight: 600;
    font-size: 16px;
    width:170px;
    height:auto;
    margin:0 5px;
    --padding-top:10px;
    --padding-bottom:10px;
    text-transform:capitalize;
}
.judge-match-timer-cancel_button {
    --background: transparent;
    --color:white;
    border:1px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    width:170px;
    height:auto;
    margin:0 5px;
    --padding-top:10px;
    --padding-bottom:10px;
    text-transform:capitalize;
}
.judge-match-timer-result {
    padding:20px;
    font-weight: 600;
    font-size: 36px;
    width:480px;
    border: 2px solid #565151;
    background: #565151;
    border-radius: 5px;
    color:white;
    text-align:center;
    line-height: 54px;
}
.judge-match-timer-result.color_0 {
    background-color: #285CC6;
}
.judge-match-timer-result.color_1 {
    background-color: white;
    color:black;
}
.judge-match-timer-result.color_2 {
    background-color: #F39700;
}
.judge-match-timer-result.color_3 {
    background-color: #7200CC;
}
.green_chevron {
    width:52px;
    height:40px;
    position:relative;
    display: inline-block;
    margin-left: 10px;
}
.green_chevron:before {
    content: '';
    background-color:#89FF53;
    width:5px;
    height:18px;
    position:absolute;
    transform: rotate(-45deg);
    bottom:0;
}
.green_chevron:after {
    content: '';
    background-color: #89FF53;
    width: 5px;
    height: 39px;
    position: absolute;
    transform: rotate(45deg);
    top: 3px;
    right: 29px;
}
.judge-results-totals {
    display:flex;
    padding:20px 5px;
}
.judge-results-total {
    padding:15px;
    border: 1px solid #565151;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    flex-grow:1;
    margin:0 15px;
}
.judge-results-total p {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color:white;
    margin:5px 0 0 0;
}
.judge-results-total ion-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:white;
}
.judge-match-timer-confirm {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.judge-match-restart-confirm {

}
.five_sec_timer {
    font-size: 200px;
    color: white;
    line-height: 180px;
    background-color:#2C2626;
    position: fixed;
    z-index:1;
    padding:15px;
    border-radius:6px;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    width:350px;
    height:350px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.judge-match-timer-clock_blue_side_title, .judge-match-timer-clock_versus_title, .judge-match-timer-clock_white_side_title {
    position: absolute;
    font-size: 32px;
    left: 0;
    right: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
}
@media (min-width:1600px) {
    .judge-match-timer-clock_white_side, .judge-match-timer-clock_blue_side {
        font-size: 220px;
    }
}

@media (min-width:2050px) {
    .judge-match-timer-clock_white_side, .judge-match-timer-clock_blue_side {
        font-size: 320px;
        height:280px;
        padding-top:60px !important;
    }
    .judge-match-timer-clock_versus {
        padding-top:60px !important;
        font-size:300px;
    }
    .judge-match-timer-versus {
        font-size:100px;
        height:160px;
    }
    .judge-match-timer-blue_side, .judge-match-timer-white_side {
        font-size:100px;
        height:180px;
    }
    .judge-match-timer-participant_info {
        font-size:100px;
    }
}
@media (min-width:2340px) {
    .judge-match-timer-clock_white_side, .judge-match-timer-clock_blue_side {
        font-size: 360px;
        height: 380px;
        padding-top: 60px !important;
    }
    .judge-match-timer-clock_versus {
        font-size:360px;
        padding-top: 20px !important;
    }
    .judge-match-timer-versus {
        font-size:120px;
        height:160px;
    }
    .judge-match-timer-blue_side, .judge-match-timer-white_side {
        font-size:120px;
        height:180px;
    }
    .judge-match-timer-participant_info {
        font-size:120px;
    }
}
