.notifications-icon {
    font-size:24px;
    margin-right:15px;
    margin-left:-38px;
}
.header-md::after {
    background-image:none;
}
.hamburger {
    margin-right:-48px;
}
#root ion-button.add-icon {
    margin-left:-48px;
}
