.add-photo {
    border: 5px solid #EAE9E9;
    width:100%;
    padding: 30%;
    box-sizing:border-box;
    border-radius: 10px;
}
.add-photo ion-img {
    position: absolute;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    width:54px;
    height:54px;
}
